<md-dialog ng-firebase="products/{{id}}" loaded="loaded($value)" pure="true">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>{{$value.itemName}}</h4>
                <span flex></span>
                <md-button class="md-icon-button" layout-align="center center"  ng-click="cancel()">
                    <md-icon class="material-icons" style="height: 24px;">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-gt-sm="row" layout-sm="column">
            <md-card flex-gt-sm="40">
                <img class="md-card-image" ng-src="{{$value.image}}">
                <md-card-content layout-align="center center">
                    <!--listPrice:{{$value.listPrice|currency : '$' : 2}}<br>-->
                    price:{{$value.price|currency : '$' : 2}}<br>
                    <!--you save: {{1-$value.price/$value.listPrice| percentage:0}}-->
                </md-card-content>
            </md-card>
            <md-card flex-gt-sm="55">
                <md-card-content layout-align="center center">
                    description:{{$value.description}}<br>
                    options:<select ng-options="option for option in $value.options" ng-model="$value.selectedOption"></select>
                    <ngcart-addtocart ng-show="loggedIn" id="{{ $value.itemId }}" name="{{ $value.itemName }}" price="{{ $value.price }}" quantity="{{$value.quantity}}" quantity-max="30" data="$value">Add</ngcart-addtocart>
                </md-card-content>
            </md-card>
        </md-dialog-content>

</md-dialog>

