<md-button ng-click="obMenuItem.toggleDropdownMenu()" class="md-raised md-primary side-menu-link">
    <md-icon ng-if="::(obMenuItem.item.icon !== undefined)" class="side-menu-icon" md-font-icon="{{::obMenuItem.item.icon}}"></md-icon>
    <span translate>{{::obMenuItem.item.name}}</span>
    <md-icon class="menu-toggle-icon" md-font-icon="zmdi zmdi-chevron-right" ng-class="{ open: obMenuItem.item.open }"></md-icon>
</md-button>
<ul class="drop-down-list" ng-show="obMenuItem.item.open">
    <li ng-repeat="child in obMenuItem.item.children">
        <ob-menu-item item="::child"></ob-menu-item>
    </li>
</ul>