<md-content  firebase="products/{{vm.id}}" class="padded-content-page">
    <md-card class="md-whiteframe-5dp" flex-gt-sm="30">
        <img class="md-card-image" ng-src="{{ref.$value.image}}">
    </md-card>
    <md-card class="md-whiteframe-5dp" flex-gt-sm="30">
        <md-card-content layout-align="center center">
            <div class="content-padded">
                <h2 class="md-title">{{ref.$value.itemName}}</h2>
                <p>
                    {{ref.$value.description}}
                </p>
                <md-input-container>
                    <label>Options</label>
                    <md-select ng-model="vm.selectedOption">
                        <md-option ng-repeat="option in ref.$value.options" value="{{option}}">
                            {{option}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <p>
                    Price:{{ref.$value.price|currency : '$' : 2}}
                </p>
            </div>
            <md-divider></md-divider>
            <ngcart-addtocart  id="{{ ref.$value.itemId }}"
                              name="{{ ref.$value.itemName }}"
                              price="{{ ref.$value.price }}"
                              quantity="{{ref.$value.quantity||1}}"
                              quantity-max="30"
                              data="ref.$value">Add</ngcart-addtocart>
        </md-card-content>
    </md-card>
</md-content>
